.why-section
  &__title
    margin-bottom: 52px
.why-box
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  &__number
    position: relative
    width: 60px
    min-width: 60px
    height: 60px
    background-color: #E7F0FF
    border-radius: 50px
    margin-right: 16px
    & span
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 20px
      font-weight: 700
  &__column-block
    display: flex
    flex-direction: column
    flex: 0 0 57.53%
  &__title-box
    display: flex
    flex-direction: row
    align-items: center
  &__text-block
    width: 100%
    padding-left: 76px
    font-size: 20px
    line-height: 160%
  &__img-block
    margin: 0 52px
  &--row-reverse
    flex-direction: row-reverse