section.early-block#main
    .container
        .row-block
            .column-block.column-block--fl-56
                .title.title--h1 Онлайн автошкола Drivery
                .text Drivery — первая автошкола без отделений. Мы преподаем теорию через приложение, а практику вождения — в 27 локациях по всему Киеву.
            .img-block.img-block--fl-31
                +early-image-1
section.early-block#early
    .container
        .row-block
            .img-block.img-block--fl-44
                img(src="img/early-image-2.png")
            .column-block.column-block--fl-47
                .title.title--h2 Автошколы не менялись 110 лет
                .text Первая автошкола появилась в 1910 году. С тех пор автомобили стали быстрее, правила дорожного движения — сложнее, но сам процесс обучения не изменился. Как и в 1910-м, мы приходим в аудиторию, слушаем лекцию и ведем бумажный конспект.


