section.now-block#now
    +spot1
    .container
        .title.title--h2 Есть и другие проблемы
        .wrap-block
            .column-block.column-block--fl-47
                +icon1
                p.wrap-block__title Автошкол много, хороших — мало
                p.wrap-block__text А рядом с домом вообще нет. Или есть, но без отзывов. Или с отзывами, но график не подходит. Ну вы поняли.
            .column-block.column-block--fl-47
                +icon2
                p.wrap-block__title Учиться долго
                p.wrap-block__text В среднем — 3 месяца. Занятия по 1.5 часа 2 раза в неделю. Из полутора-часовой лекции только час реального обучения.
            .column-block.column-block--fl-47
                +icon3
                p.wrap-block__title Учат некачественно
                p.wrap-block__text Экзамен в МРЭО с первого раза сдает ⅓ учеников
            .column-block.column-block--fl-47
                +icon4
                p.wrap-block__title И неинтересно
                p.wrap-block__text В 7 из 10 автошкол нет компьютера. Обучение ведется по методичкам и билетам с вопросами (которые вам отдельно продают).
        p.title.title--h3 Мы решили это поменять!
