footer.footer
    +spot3
    .container.footer__container
        .nav__logo
            p
                span Drivery
            p онлайн автошкола
        p © 2019 Онлайн автошкола Drivery. Все права защищены




