header.header
    .container.nav
        .nav__logo
            p
                span Клик
                | Драйв
            p онлайн автошкола
        ul.nav__menu
            li
                a(href="#0").nav__link Раньше
            li
                a(href="#0").nav__link Сейчас
            li
                a(href="#0").nav__link Цены
            li
                a(href="#0").nav__link Контакты
        button.nav__btn Начать обучение
        include ../components/icons/burger





