header.header
    .container.nav
        .nav__logo
            p
                span Drivery
            p онлайн автошкола
        ul.nav__menu
            li
                a(href="#early").nav__link Раньше
            li
                a(href="#now").nav__link Сейчас
            li
                a(href="#price").nav__link Цены
            li
                a(href="#price").nav__link Контакты
        button.nav__btn.button.button--primary.start-to-learn Начать обучение
        include ../components/icons/burger





